# Python bytecode / cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Virtual environments
grasp_env/
env/
venv/
#
/queries/ceb-imdb-full/


# Weights, models, artifacts
saved_models/
wandb/
processed_workloads/
processed_workload/
/queries/ceb-imdb/

# Temporary / output files
*.log
training_curves_*.png
